@import 'tailwindcss';
@import 'uniwind';

@theme static {
  /* Brand Colors */

  --color-brand-white: #fff;
  --color-brand-black: #0c0c0c;

  --color-brand-gray-100: #f7f7f7;
  --color-brand-gray-200: #eaeaea;
  --color-brand-gray-300: #dedede;
  /* --color-brand-gray-400: #c7c7c7; */
  /* --color-brand-gray-500: #b3b3b3; */
  /* --color-brand-gray-600: #a6a6a6; */
  --color-brand-gray-700: #2b3036;
  --color-brand-gray-800: #24292e;
  --color-brand-gray-900: #282e34;

  --color-brand-primary: var(--color-blue-500);

  /* Component Variables */
  --color-button-primary: var(--color-brand-primary);
  --color-button-secondary: var(--color-neutral-600);
}

/* Theme-Specific Variables */
@layer theme {
  :root {
    @variant light {
      --color-background: var(--color-brand-gray-200);
      --color-background-secondary: var(--color-brand-gray-100);
      --color-background-tertiary: var(--color-brand-gray-100);

      --color-foreground: var(--color-brand-black);
      --color-foreground-secondary: var(--color-slate-700);
    }

    @variant dark {
      --color-background: var(--color-brand-gray-800);
      --color-background-secondary: var(--color-brand-gray-700);
      --color-background-tertiary: var(--color-brand-gray-900);

      --color-foreground: var(--color-brand-white);
      --color-foreground-secondary: var(--color-slate-300);
    }
  }
}
